<!DOCTYPE html>
<html>
<head>
  <title>HelloRuby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/nav'%>
  <%= bootstrap_flash %>
  <div class='container'>
    <%= yield %>
  </div>
  <%= render 'layouts/footer'%>
  <!-- Matomo Image Tracker-->
<img src="https://hellorubygeo.matomo.cloud/matomo.php?idsite=1&amp;rec=1" style="border:0" alt="" />
<!-- End Matomo -->
<%= piwik_tracking_tag %>
</body>
</html>
